<h1>Personal Information</h1>

<div class="container">
  <form>
    <table style="width:100%">
      <tr>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="First Name">
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Last Name">
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="email">
          </div>

        </td>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Phone</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="phone">
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Company</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="company">

          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Web Site</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="website">

          </div>

        </td>
      </tr>

      <tr>
        <td>

          <div class="form-group">
            <label for="exampleInputEmail1">Logo Url</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="logo_url">

          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">User Image</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="user_image">

          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Address Line 1</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="address_line_1">

          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Address Line 2</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Address Line 2">

          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">City</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="city">

          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Zip</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="zip">

          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">State</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="state">

          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Country</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="country">

          </div>

        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Address Url</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="address_url">

          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="exampleInputEmail1">Summary</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="summary">

          </div>

        </td>
      </tr>

      <tr>
        <td>


      <tr>
        <td colspan="2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </td>
        </tr>
    </table>
  </form>
</div>